
.icon-fingerprint_picture:before {
    content: '\e801';
}

/* '' */
.icon-cog-alt:before {
    content: '\e808';
}

/* '' */
.icon-logout:before {
    content: '\e804';
}

/* '' */
.icon-columns:before {
    content: '\e800';
}

/* '' */
.icon-user-add:before {
    content: '\e802';
}

/* '' */
.icon-users:before {
    content: '\e807';
}

/* '' */
.icon-article-alt:before {
    content: '\e806';
}

/* '' */
.icon-wrench:before {
    content: '\e803';
}

/* '' */
.icon-doc-new:before {
    content: '\e805';
}

/* '' */